{{! Header and title}}
<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-end">
      <div class="col-12 justify-content-center align-items-end mx-auto no-gutters">
        <div class="text-center">
          {{!-- <img src='/assets/images/burger.png' alt='burger' type='img/png' class='logo img-fluid mx-auto'> --}}
          <h1 class = "font-effect-3d my-5">Eat-Da-Burger 2!</h1>
          <h2 class = "font-effect-3d">The Sequel</h2>
        </div>
      </div>
    </div>
  </div>
{{! Burger list sections}}
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-4">
        <h2 class="text-center font-effect-fire">Burgers Saved</h2>
        <ol class="list-group font-effect-shadow-multiple">
          {{#each burgers}}
          {{#unless devoured}}
          <li class="justify-content-end animated fadeIn">
            {{burger_name}}
            <button class="devour btn btn-primary btn-sm float-right font-effect-fire-animation" id="{{burger_name}}">Devour!!!
            </button>
          </li>
          {{/unless}}
          {{/each}}
        </ol>
      </div>
      <div class="col-4">
        <h2 class="text-center font-effect-fire-animation">Burgers Devoured</h2>
        <ol type="1" class="list-group font-effect-shadow-multiple">
          {{#each burgers}}
          {{#if devoured}}
          <li class="justify-content-end animated fadeIn">
            {{burger_name}}
          </li>
          {{/if}}
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
  {{! Form section}}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8 justify-content-center">
        <div class="text-center">
          <form>
            <input type="text" name="name" id='burgerName' class="font-effect-shadow-multiple"><br>
            <input class="btn btn-primary btn-small" type="button" value="Submit" id="add">
            <p class="font-effect-3d">Enter a burger you want to eat Click the "Submit" button.</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>