
body {
  background-image: url(../images/Burgers_Lead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background: yellow; */
  font-family: 'Domine', serif;
  display: border-box;
  opacity: .8;

}
/* Burger image */
.logo {
  width: 200px;
  height: auto;
  margin: 50px;
}

/* textarea */
#burgerName {
  width: 200px;
  height: 40px;
}
/* add button */
#add {
  margin: 10px;
}

li {
  background: white;
  padding: 5px;
  margin: 5px;
}
input {
  background: none;

}
