
body {
  background: orange;
  font-family: 'Domine', serif;
  display: border-box;

}
/* Burger image */
.logo {
  width: 200px;
  height: auto;
  margin: 50px;
}

/* textarea */
#burgerName {
  width: 200px;
  height: 40px;
}
/* add button */
#add {
  margin: 10px;
}

li {
  background: white;
  padding: 5px;
  margin: 5px;
}
