
<div class="row animated align-items-center fadeIn justify-content-center">
  <diV class="col">
    <li>
      {{burger_name}}
      <small>(eaten by {{customer_name}})</small>
    </li>
  </div>
  <div class="col-1">
    <button class="devoured-delete btn btn-primary my-2 btn-sm font-effect-fire-animation" id="?{{burger_name}}">Delete!!!
    </button>
  </div>
</div>