<li>
  <div class="row animated fadeIn">
    <diV class="col align-self-center align-items-center text-center">
      {{burger_name}}
      <small>(eaten by {{customer_name}})</small>
      <button class="devoured-delete btn btn-primary my-2 btn-sm font-effect-fire-animation"
        id="?{{burger_name}}">Delete!!!
      </button>
    </div>
  </div>
</li>