
<div class="row animated fadeIn">
  <diV class="col">
    <li class="justify-content-end">
      {{burger_name}}
    </li>
  </div>
  <div class="col">
    <button class="devoured-delete btn btn-primary my-2 btn-sm font-effect-fire-animation" id="?{{burger_name}}">Delete!!!
    </button>
  </div>
</div>