<div class="row animated fadeIn">
  <diV class="col">
    <li class="justify-content-end">
      {{burger_name}}
    </li>
  </div>
  <div class="col">
    <button class="devour btn btn-primary my-2 mr-1 btn-sm font-effect-fire-animation" id="{{burger_name}}">Devour!!!
    </button>
    <button class="delete btn btn-primary my-2 btn-sm font-effect-fire-animation" id="?{{burger_name}}"><i class="far fa-trash-alt"> Delete</i>
    </button>
  </div>
</div>